:root {
    --bg-color: rgba(30, 30, 30, 0.7);
    --txt-color: white;
    --link-color: steelblue;
    --link-hover: turquoise;
}

::selection {
    background: none;
    color:cyan;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--txt-color);
    padding: 5px;
    height: 150px;
}

header img {
    animation: scaleX 2s infinite;
}

header nav {
    display: inline-flex;
    gap: 5rem;
    font-size: 2rem;
}

header a, footer a {
    text-decoration: none;
    color: var(--link-color);
    padding: 5px;
}

h1 {
    animation: lightUp 1s infinite;
    font-size: 2.5rem;
}

main {
    margin: 2rem 0 2rem 0;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

hr {
    color: var(--txt-color);
}

footer {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--txt-color);
    text-decoration: none;
}

header a:hover {
    animation: colorRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1.25);
    text-shadow: 0px 0px 5px currentColor;
}

footer a:hover {
    animation: colorRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.bemutat {
    padding: 1rem;
}

.bemutat h1 {
    text-align: center;
}

.bemutat p {
    text-indent: 1rem;
}

@keyframes colorRotate {
    from {
      color: var(--link-color);
    }
    25% {
        color: #00ffb3;
    }
    50% {
      color: #d0ff00;
    }
    75% {
      color: #ff2600;
    }
    100% {
      color: #be34f5;
    }
}

@keyframes lightUp {
    50% {
        text-shadow: 0px 0px 5px var(--txt-color);
    }
}

@keyframes scaleX {
    from {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(2);
    }
    
    100% {
        transform: scaleX(1);
    }

}